parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - message: '#Property .+::\$id is never written, only read.#'
