parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Property [a-zA-Z0-9\\_]+::\$id is never written, only read.#'
