{% extends "base.html.twig" %}

{% block body %}
<div class="notes" id="app">
    <Notelist 
      :notes="notes"
      v-on:select-note="changeNote($event)"
      v-on:handle-share="handleShare($event)"
      v-on:new-note="newNote"
    >
    </Notelist>
    <Share :visible="showShareModal" :note="activeShareNote" v-on:close-share-modal="closeShareModal"></Share>
    <Notepad :note="note"></Notepad>
</div>
{% endblock %}

{% block javascripts %}
  <script type="application/json" id="mercure-url">
    {{ mercure('/note/{id}')|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }}
  </script>
  
  {{ encore_entry_script_tags('app') }}
{% endblock %}
