{% extends "base.html.twig" %}

{% block body %}
<div class="notes" id="app">
    <Notelist 
      :notes="notes"
      v-on:select-note="changeNote($event)"
      v-on:new-note="newNote"
    > 
    </Notelist>
    <Notepad :note="note"></Notepad>
</div>
{% endblock %}
